<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hooapps.android.namegame" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.GameActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- New Activities must be specified in the Manifest -->
        <activity android:name=".activity.HomeActivity"
            android:label="@string/app_name">

            <!-- Move the intent-filter to this activity
            This makes the application open HomeActivity when it is first launched
            instead of opening GameActivity like before -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
